body {
    /* background-color: lightblue; */
    font-family: Calibri, Arial;
    background-image: url(lingo.jpg);
    background-position: center;
    background-size: cover;
}

#game-container {
    margin: 0 auto;
    width: 485px;
    background-color: white;
    opacity: 0.8;
}

.all-rows {
    display: flex;
    justify-content: space-around;
}

h1 {
    margin: 10px;
}

p {
    margin: 10px;
}

#game {
    margin: 0 auto;
}

#input {
    width: 200px;
    margin: 10px;
    padding: 10px;
}

button {
    width: 150px;
    margin: 10px;
    padding: 10px;
}

.default {
    border: 1px solid black;
    width: 65px;
    height: 65px;
    margin: 10px;
    font-size: 45px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}

#row_5 > .default {
    visibility: hidden;
}