body {
    background-color: lightblue;
    font-family: Calibri, Arial;
}

#game-container {
    margin: 0 auto;
    width: 485px;
    background-color: white;
}

.all-rows {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 10px;
}

p {
    margin: 10px;
}

#game {
    margin: 0 auto;
}

#input {
    width: 200px;
    margin: 10px;
    padding: 10px;
}

button {
    width: 150px;
    margin: 10px;
    padding: 10px;
}

.default {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    margin: 10px;
    font-size: 50px;
    display: inline-block;
    text-align: center;
}

#row_5 > .default {
    background-color: black;
    visibility: hidden;
}